<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Management</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container mt-5">
        <h1 class="mb-4 text-center">Welcome to the Premesh Event Management System</h1>
        <p class="text-center">
            Hello user!!!<br>
            Thank you for visiting. <br> 
            This is our official page for event management.<br> 
            Here you can add your event title, name, and its details etc.<br>
            You will have a seamless experience while using our web.
        </p>
        <div class="text-center mt-4">
            <a href="{{ url_for('add_event') }}" class="btn btn-primary">Add Event</a>
            <a href="{{ url_for('view_events') }}" class="btn btn-secondary">View Events</a>
        </div>
        
    </div>

</body>
</html>
